:root {
  --primary-color: #7e5fee;
  --second-color: #d5cdf56a;
  --font-family: Freigeist, Arial, Lucida, sans-serif;
}

.homepage-link {
  display: block;
  color: var(--primary-color);
  font-size: 18px;
  margin-top: 5%;
  font-family: Freigeist, Arial, Lucida, sans-serif;
  font-weight: lighter;
}
h1 {
  text-align: center;
  font-size: 70px;
  font-family: Avenir, sans-serif;
  margin: 0;
}
h4 {
  text-align: center;
  font-size: 16px;
  opacity: 0.7;
  margin: 0;
  padding-bottom: 20px;
  font-family: Avenir, sans-serif;
}
.about-text {
  display: flex;
  margin: 30px 0;
  font-family: arial;
  opacity: 0.8;
}
.about-text p {
  margin: 15px;
}
.nav-link {
  margin-left: 40px;
}
.navbar-brand {
  margin-left: 40px;
}
p {
  text-align: center;
  background: var(--second-color);
  padding: 20px;
  border-radius: 6px;
  font-size: 20px;
  line-height: 1.5;
}

.contact {
  margin-top: 60px;
  text-align: center;
  font-size: 46px;
  font-family: Avenir, sans-serif;
  font-weight: bold;
}

.email-link {
  display: block;
  text-align: center;
  font-size: 18px;
  font-family: Avenir, sans-serif;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
  margin-bottom: 60px;
}
.email-link:hover {
  text-decoration: underline;
}
.fa-brands {
  font-size: 36px;
  margin: 0.5rem;
}
.navbar {
  background-color: #e1daf7;
}
footer {
  background-color: #e1daf7;
}
footer .email-link {
  margin-top: 30px;
  display: block;
  text-align: center;
  font-size: 18px;
  font-family: Avenir, sans-serif;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
  margin-bottom: 8px;
}
footer .email-link:hover {
  text-decoration: none;
  color: var(--primary-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background-color: #f9f7feb2;
  border-radius: 50%;
  padding: 10px 14px;
  transition: all 100ms ease-in-out;
  margin-bottom: 10px;
  margin-top: 8px;
}
footer .social-links a:hover {
  color: #e1daf7;
  background-color: #f9f7feb2;
}
@media (max-width: 960px) {
  p,
  photo {
    padding: 0;
    text-align: center;
  }
}
