:root {
  --primary-color: #7e5fee;
  --second-color: rgb(255, 255, 255);
  --font-family: Freigeist, Arial, Lucida, sans-serif;
}

.navbar {
  background-color: #e1daf7;
  display: block;
}
.nav-link {
  margin-left: 40px;
}
.navbar-brand {
  margin-left: 40px;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: Avenir, sans-serif;
  margin: 0;
}
.icon {
  color: var(--primary-color);
}
body {
  display: block;
}
textarea.form-control-lg {
  min-height: 500px;
  max-height: 900px;
  width: 750px;
}
.message-link {
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  font-size: 18px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  margin: 0 10px;
  background-color: #7e5fee;
  color: #ffff;
}
.message-link:hover {
  cursor: pointer;
  color: #ffff;
  background-color: #5f49b6;
}
footer {
  background-color: #e1daf7;
}
footer .email-link {
  margin-top: 30px;
  display: block;
  text-align: center;
  font-size: 18px;
  font-family: Avenir, sans-serif;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
  margin-bottom: 8px;
}
footer .email-link:hover {
  text-decoration: none;
  color: var(--primary-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background-color: #f9f7feb2;
  border-radius: 50%;
  padding: 10px 14px;
  transition: all 100ms ease-in-out;
  margin-bottom: 10px;
  margin-top: 8px;
}
footer .social-links a:hover {
  color: #e1daf7;
  background-color: #f9f7feb2;
}
